<div class="alert alert-secondary text-center h-800">
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[0])">
    {{randomNumber[0]}}
  </button>
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[1])">
    {{randomNumber[1]}}
  </button>
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[2])">
    {{randomNumber[2]}}
  </button>
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[3])">
    {{randomNumber[3]}}
  </button>
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[4])">
    {{randomNumber[4]}}
  </button>
  <button type="button" class="btn btn-circle m-3 text-white" (click)="buttonSelect(randomNumber[5])">
    {{randomNumber[5]}}
  </button>

</div>
<hr>
<h1 class="text-center">You have selected</h1>
<div class="container col-md-4 offset-4">
      <div class="card card-block" style="height: 100px; background-color: rgb(198, 212, 211);">
        <div class="card-body align-items-center d-flex justify-content-center">
            <h1 style="font-size: 50px;">{{selected}}</h1>
        </div>
      </div>
  </div>